<% if @signed_in %>
    <%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete
    ) %>
    <%= button_to "Your events", user_path(@user), method: :get %>
<% end %>

<h1>All Events:</h1>

<h2>Future events:</h2>

<div style="display: flex; width: 80%; flex-wrap: wrap;">
<% @events.future.each_with_index do |e,i| %>
    <div style="display: flex; flex-direction: column; margin: 0.5em; padding: 0.5em; border: 1px solid grey;">
        <h3> Event #<%= (i+1) %>:</h3>
        <p> Location: <%= e.location %> </p>
        <%=  link_to "Details", event_path(e) %>
        <p> Date: <%= e.date %> </p>
        <% if !e.attendants.empty? %>
            <div>
            Attendees: 
            <% e.attendants.each do |a| %>
            <p>- <%= a.email %></p>
            <% end %>
            </div>
        <% end %>
        <%= button_to "Attend Event", event_attendances_path({ event_attendance: { attended_id: e.id, attendant_id: @user.id}} ), method: "post" %>
    </div>
<% end %>
</div>

<h2>Past events:</h2>
<div style="display: flex; width: 80%; flex-wrap: wrap; flex: 1;">
<% @events.past.each_with_index do |e,i| %>
    <div style="display: flex; flex-direction: column; margin: 0.5em; padding: 0.5em; border: 1px solid grey;">
        <h3> Event #<%= (i+1) %>:</h3>
        <p> Location: <%= e.location %> </p>
        <%=  link_to "Details", event_path(e) %>
        <p> Date: <%= e.date %> </p>
        <% if !e.attendants.empty? %>
            <div>
            Attendees: 
            <% e.attendants.each do |a| %>
            <p>- <%= a.email %></p>
            <% end %>
            </div>
            <% end %>
    </div>
<% end %>
</div>



    <h5> welcome <%= @user.email %> </h5>